.btn {
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  background-color: $accent-color;
  border-radius: 29px;
  transition: all 0.2s ease-in;

  &:hover {
    background-color: #bed4e1;
    color: $accent-color;
  }
}
.header__btn {
  padding: 18px 37px;
}

.objects__btn {
  padding: 18px 39px 16px;
}

.cta__btn {
  padding: 18px 40px;
}

.cta__btn--white {
  display: inline-block;
  position: relative;
  padding: 18px 29px 18px 49px;
  background-color: #fff;
  color:#323232 ;
  &::before {
    content: "";
    position: absolute;
    background-image: url(./../img/cta/play.svg);
    left: 30px;
    top: 24px;
    width: 11px;
    height: 12px;

  }
}

.card-customer__btn {
  padding: 18px 39px;
}