.footer {
  padding-top: 86px;
  padding-bottom: 82px;
}
.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 200px;
}

.footer__info {
  max-width: 300px;
  padding-right: 30px;
}
.footer__logo {
  margin-bottom: 15px;
}

.footer__info-text {
  margin-bottom: 40px;
  font-size: 16px;
}
.footer__socials {
  display: flex;
  align-items: center;
  column-gap: 30px;

  a img {
    transition: 0.2s transform ease-in, 0.2s opacity ease-in;
  }
  a:hover img {
    opacity: 0.5;
    transform: translateY(-20%);
    transition: 0.2s transform ease-in, 0.2s opacity ease-in;
  }
}
.footer__nav {
  display: flex;
  align-items: stretch;
  column-gap: 85px;
  margin-top: 20px;
}

.footer_nav-block {
  font-size: 14px;
}
.footer_nav-block-title {
  margin-bottom: 18px;
  font-size: 21px;
  line-height: 32px;
  letter-spacing: 0.5px;
}
.footer_nav-list {
  display: flex;
  flex-direction: column;
  row-gap: 13px;
  a {
    transition: 0.2s color ease-in;
  }
  a:hover {
    color: #f78434;
  }
}
